{% extends "parent.njk" %}
{% block main %}
    <h2>What is this?</h2>
    <p>hackathon.photos is a free service for sharing photos of your Hackathon with your attendees.</p>
    <h2>Features</h2>
    <ul>
        <li>
            <b>Maps</b>: You can see your journey and see where all of your magical moments were.
            <img src="https://f004.backblazeb2.com/file/hackathon-photos-meta/Screenshot+From+2025-03-17+18-50-12.png">
        </li>
        
         <li>
            <b>File Manager</b>: A simple, but built in file manager is available for use.
             <img src="https://f004.backblazeb2.com/file/hackathon-photos-meta/Screenshot+From+2025-03-18+00-21-14.png">
        </li>
       
        <li>
            <b>Rclone Support</b>: You can mirror 70+ sources (e.g. <a href="https://rclone.org/googlephotos/" target="_blank">Google Photos</a> and <a href="https://rclone.org/dropbox/" target="_blank">Dropbox</a>) to your page by uploading a file called <code>.rclone</code> and setting <code>[guest]</code> as a remote, like a regular <code>~/rclone.conf</code> file
            <pre><code>
[guest]
type = b2
account = 0000000000000000000000000
hard_delete = true
key = K00390e32en89w298e9ns
            </code></pre>
        </li>
        <li>
            <b>Same Day Print Pickup</b>: You (or your attendees) can order 4x6 Prints as a keepsake to any Walgreens location.
        </li>
        
    </ul>
    <h2>Want to put your event's photos here?</h2>
    <p>E-mail support@hackathon.photos and we'll set you up with a special link.</p>

{% endblock %}