{% extends "parent.njk" %}
{% block main %}
    <h2>What is this?</h2>
    <p>hackathon.photos is a free service for sharing photos of your Hackathon with your attendees.</p>
    <h2>Features</h2>
    <ul>
        <li>
            <b>Maps</b>: You can see your journey and see where all of your magical moments were.
        </li>
        <img src="https://f004.backblazeb2.com/file/hackathon-photos-meta/Screenshot+From+2025-03-17+18-50-12.png">
         <li>
            <b>File Manager</b>: A simple, but built in file manager is available for use.
        </li>
        <img src="https://f004.backblazeb2.com/file/hackathon-photos-meta/Screenshot+From+2025-03-18+00-21-14.png">
        <li>
            <b>Same Day Pickup</b>: You (or your attendees) can order 4x6 Prints as a keepsake to any Walgreens location.
        </li>
    </ul>
    <h2>Want to put your event's photos here?</h2>
    <p>E-mail support@hackathon.photos and we'll set you up with a special link.</p>

{% endblock %}