{% extends "parent.njk" %}
{% block main %}
<h1>Register</h1>
<form action="/register" method="POST">
    <input type="email" name="email" placeholder="Email" required>
    <button type="submit">Send Magic Link</button>
</form>
{% endblock %}
