{% extends "parent.njk" %}

{% block main %}
    <h2>Order status</h2>
    <ul>
        <li>Name: {{ firstName }} {{ lastName}}</li>
        <li>Expected Time: {{ promiseTime }}</li>
        <li>Current Status: {{ orderStatus }}</li>
    </ul>
    <p><b>N.b.</b> You can reload this link/save it for later to see your updated tracking status.</p>
    <h3>Photos</h3>

    <table>
        <tr>
            <th>Qty</th>
            <th>Photo</th>
        </tr>
        {% for photo in photoArray %}
            <tr>
                <td>1</td>
                <td>
                    <img src="{{ photo }}">
                </td>

            </tr>
        {% else %}
            <i>No photos! Why not add some?</i>
        {% endfor %}
    </table>
{% endblock %}